@using LoggingCodefirst.Services
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var cultures = LocOptions.Value.SupportedUICultures.ToList();
}

<li class="sidebar-item"> 
    <a class="sidebar-link has-arrow waves-effect" href="javascript:void(0)" aria-expanded="false">
        <i class="mdi mdi-earth"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Language") </span>
    </a>
    <ul aria-expanded="false" class="collapse  first-level">
        @foreach (var item in cultures)
        {
            var cultureImage = item.Name + ".png";
            <li class="sidebar-item">
                <a class="sidebar-link"
                    asp-controller="Home"
                    asp-action="SetCulture"
                    asp-route-culture="@item.Name"
                    asp-route-returnUrl="@Context.Request.Path">
                <img src="~/images/@cultureImage" style="margin-right: 5px; margin-left: 15px"/>
                @item.NativeName
            </a>
            </li>
        }
    </ul>
</li>
